<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewUserGuideChooseViewController</key>
	<string>VIEW_NEW_USER_SETUP</string>
	<key>PublisherTopicsViewController</key>
	<string>VIEW_PUBLISHER_COLLECTION</string>
	<key>DiscoveryViewController</key>
	<string>VIEW_DISCOVERY</string>
	<key>HomePopularFeedListViewController</key>
	<string>VIEW_HOME</string>
	<key>HomeFollowFeedListViewController</key>
	<string>VIEW_FOLLOWING_FEED</string>
	<key>XLHomeVideoFeedListViewController</key>
	<string>VIEW_VIDEO</string>
	<key>XLHomeImageFeedListViewController</key>
	<string>VIEW_IMAGE</string>
	<key>UserViewController</key>
	<string>VIEW_ME</string>
	<key>FeedArticleDetailViewController</key>
	<string>VIEW_ARTICLE_DETAIL</string>
	<key>FeedImageDetailViewController</key>
	<string>VIEW_IMAGE_DETAIL</string>
	<key>FeedVideoDetailViewController</key>
	<string>VIEW_VIDEO_DETAIL</string>
	<key>ImageBrowserViewController</key>
	<string>VIEW_IMAGE_BROWSER</string>
	<key>PublisherViewController</key>
	<string>VIEW_PUBLISHER_HOME</string>
	<key>XLPublishVideoViewController</key>
	<string>VIEW_PUBLISH_PREVIEW_VIDEO</string>
	<key>XLPublishImageViewController</key>
	<string>VIEW_PUBLISH_PREVIEW_IMAGE</string>
	<key>UserLikeFeedListViewController</key>
	<string>VIEW_MY_LIKED</string>
	<key>UserFollowingViewController</key>
	<string>VIEW_MY_FOLLOWING</string>
	<key>UserFeedbackViewController</key>
	<string>VIEW_FEEDBACK</string>
	<key>AboutUsViewController</key>
	<string>VIEW_ABOUT_US</string>
	<key>PrivacyAndTermsViewController</key>
	<string>VIEW_TERMS_PRIVACY</string>
	<key>LoginViewController</key>
	<string>VIEW_LOGIN</string>
	<key>UserCollectionFeedListViewController</key>
	<string>VIEW_FAVORITES</string>
	<key>XLMyUploadViewController</key>
	<string>VIEW_MY_PUBLISH</string>
	<key>FeedVideoFullScreenViewController</key>
	<string>VIEW_VIDEO_FULL_SCREEN</string>
	<key>NewUserGuideViewController</key>
	<string>VIEW_NEW_USER_SETUP</string>
	<key>XLH5WebViewController</key>
	<string>VIEW_WEB</string>
	<key>NIMSessionListViewController</key>
	<string>VIEW_SESSION_LIST</string>
	<key>NIMSessionViewController</key>
	<string>VIEW_SESSION_DETAIL</string>
	<key>XLSessionFansViewController</key>
	<string>VIEW_SESSION_FANS</string>
	<key>XLSessionVisitorViewController</key>
	<string>VIEW_SESSION_VISITOR</string>
	<key>XLSessionCommentViewController</key>
	<string>VIEW_SESSION_COMMENT</string>
	<key>XLSessionLikedViewController</key>
	<string>VIEW_SESSION_LIKED</string>
	<key>XLRedPacketDetailViewController</key>
	<string>VIEW_REDPACKET_DETAIL</string>
	<key>TotalAssetViewController</key>
	<string>VIEW_MY_WALLET</string>
	<key>SettingsViewController</key>
	<string>VIEW_SETTING</string>
	<key>XLEditPersonInfoViewController</key>
	<string>VIEW_EDIT_USER_INFO</string>
	<key>XLTeamSettingViewController</key>
	<string>VIEW_SESSION_TEAM_SETTING</string>
</dict>
</plist>
